.contenedor-principal{
    display: flex;
    justtify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.flex-container {
    display: flex;
    width: 600px;
}

.foto1{
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 10px;
    margin-left: 20px;
    border: black solid 1px;
}

.fotoo2{
    width: 100px;
    height: 100px; 
    margin-left: 10px;
    margin-top: -8px;  
    
}

.foto2{
    width: 120px;
    height: 120px;  
    margin: 10px;
    margin-left: 20px;
    text-align: center; 
    border: black solid 1px;    
    background-clip: content-box;
}

.foto3{
    width: 120px;
    height: 120px;
    text-align: center;    
    margin: 10px;
    margin-left: 20px;
    border: black solid 1px;
    background-size: 100% 100%;
    
}

.foto4{
    width: 120px;
    height: 120px;
    text-align: center;    
    margin: 10px;
    margin-left: 20px;
    border: black solid 1px;
    background-color: white;
}

.fotoo4{
    width: 100px;
    height: 100px; 
    margin-left: 10px;
    margin-top: -8px;        
    background-size: 100% 100%;  
    
}

.foto5{
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 10px;
    margin-left: 20px;
    border: black solid 1px;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.foto6{
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 10px;
    margin-left: 20px;
    border: black solid 1px;
   background-color: white;
}

.fotoo6{
    width: 100px;
    height: 100px; 
    margin-left: 10px;
    margin-top: -8px;  
       
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
}

.foto7{
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 10px;
    margin-left: 20px;
    background-color: white;
    border: black solid 1px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

.foto8{
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 10px;
    margin-left: 20px;
    border: black solid 1px;
    background-color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}

.foto9{
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 10px;
    margin-left: 20px;
    border: black solid 1px;
    background: linear-gradient(to right, #d2ff52 0%, #566647 100%);
}

.foto10{
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 10px;
    margin-left: 20px;
    border: black solid 1px;
    background: linear-gradient(to bottom,  rgba(240,183,161,1) 0%,
     rgba(140,51,16,1) 80%, rgba(117,34,1,1) 51%, rgba(191,110,78,1) 100%);
}

.foto11{
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 10px;
    margin-left: 20px;
    border: black solid 1px;
    background: linear-gradient(to top,  rgba(50,116,45,1) 0%, rgba(239,239,210,1) 100%);
}

.foto12{
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 10px;
    margin-left: 20px;
    border: black solid 1px;
    background: linear-gradient(to top,  rgba(50,116,45,1) 0%, transparent 100%);
}