.a{
    border: blue solid 3px;
    height: 100px;
    width: 240px;
}

.b{
    border: red solid 3px;
    height: 350px;
    width: 640px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.c{
    border: blue solid 3px;
    height: 100px;
    width: 240px;
}